.logo-part {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  width: 200px;
  background-color: rgba(184, 177, 156, 0.5);
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 22px 0 gray;
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 24px;
}

.navbar-button {
  display: flex;
  border: none;

  width: 100%;
  text-align: center;
  padding: 25px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(184, 177, 156, 0);
  font-size: 20px;
  font-weight: 600;
}

.navbar-button:hover {
  background-color: rgb(193, 182, 148);
}

.navbar-button:active {
  color: white;
}

.hamburger-menu {
  display: none;
}

.active{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  z-index: 40;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  /* padding: 0 7%; */
}


@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .logo-part {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    margin: 15px;

  }


  .navbar {
    display: grid;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


  .navbar-button {
    width: 100%;
    margin: 0;
  }

  .hamburger-img {
    margin-right: 15px;
    height: 50px;
    width: 50px;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .navbar-hamburger {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    width: 100%;
    margin: 11rem auto 0;
    height: 40px;
  }

  .active {
    height: 8rem;
    width: 100%;
    transition: 0.1s linear;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 40;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  }

  .active-dropdown {
    margin: 0;
    padding-bottom: 7rem;
    height: 15rem;
  }

  .hidden{
    height: 3rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    top: -80px;
    transition: 0.3s linear;
  
  }
}