* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-image: url("..//public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
width: 100%;
  margin-left: 200px;
}

.whole-page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
}

h1 {
  letter-spacing: 0.1em;
}

h3 {
  padding: 5px 0;
  font-weight: 400 ;
}

p {
  line-height: 1.75rem;
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 20px;
}





.pic-authors {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;

}

.rendered-mealplan-content {
  display: flex;
  width: 100%;
  
}

.rendered-recipe-ingredients-list {
display: flex;
flex-direction: column;
padding: 10px;
align-items: flex-start;
margin-left: 20px;
line-height: 35px;
width: 100%;
}

a {
  text-decoration: underline;
  text-align: center;
}


.rendered-recipe-ingredients-name {

}



.rendered-substitutes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.rendered-subs-content {
  display: flex;
  line-height: 25px;
}



@media only screen and (max-width: 620px) {
  /* For mobile phones: */

  * {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    display: flex;
    height: 100%;
    width: 100%;
  }

  body {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .whole-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 620px;
    margin: 0 auto;
    position: relative;
  }

  header {
    height: 100px;
    width: 100%;
    position: fixed;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pic-authors {
    position: fixed;
    bottom: 0px;
    z-index: -1;
  }

  h1 {
    font-size: 20px;
  }

  .recipe-container {
    margin: auto;

    width: 90%;
    display: flex;
  }

  .recipe-input {
    width: 170%;
    
  }
}
