* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.whole-page {
  display: grid;
  grid-template-columns: 20vh auto;
  background-image: url("..//public/images/background.jpg");
  background-size: cover;
}

header {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: rgba(184, 177, 156, 0.5);
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 22px 0 gray;
}

h1 {

}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 24px;
}

.navbar-button {
  display: flex;
  border: none;
  width: 100%;
  text-align: center;
  padding: 25px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(184, 177, 156, 0);
  font-size: 16px;
  font-weight: 600;
}

.navbar-button:hover {
  background-color: rgb(193, 182, 148);
}

.navbar-button:active {
  color: white;
}

.logo-part {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(193, 186, 176, 0.8);
  margin: 150px;
  box-shadow: 1px 1px 22px 0 gray;
  max-width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.recipe-text {
  margin-bottom: 30px;
  color: rgb(0, 0, 0);

}

.recipe-input {
  padding: 15px;
  margin: 10px 0;
  width: 50vh;
  font-size: 13px;
  letter-spacing: 0.03em;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 10px 0 gray;

}

.recipe-input:focus {
  border: none;
  outline: 0;

}

.recipe-button {
  margin-top: 30px;
  padding: 20px;
  width: 300px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  box-shadow: 1px 1px 10px 0 gray;
  background: gray);
}

.rendered-recipe {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: gainsboro;
  padding: 20px;
  margin: 20px;
}

.rendered-recipe-title {
margin: 10px;
color: rgb(0, 0, 0);
}

.rendered-recipe-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  
}

.rendered-recipe-image {
  width: 100%;
  object-fit: cover;
}

.rendered-recipe-ingredients-list {
display: flex;
flex-direction: column;
padding: 10px;
align-items: flex-start;
}


.rendered-recipe-ingredients-name {

}

.rendered-recipe-ingredients-description {
  margin: 10px;
  text-align: left;
}

.rendered-substitutes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.rendered-subs-content {
  display: flex;
  line-height: 25px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .whole-page {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  header {
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .logo-part {
    flex-direction: row;
    padding: 0;
    margin: 5px;
  }

  h1 {
    font-size: 24px;
  }

  .navbar {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .recipe-container {
    margin: auto;

    width: 90%;
    display: flex;
  }

  .navbar-button {
    padding: 15px;

  }

  .recipe-input {
    width: 170%;
    
  }
}
