* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.whole-page {
  display: grid;
  grid-template-columns: 20vh auto;
}

header {
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 100vh;
  background-color: rgb(69, 151, 223);
  color: white;
  box-shadow: 1px 1px 22px 0 gray;
}

h1 {

}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 24px;
}

span {
  display: flex;

  word-wrap: normal;
  width: 120px;
  text-align: center;
  padding: 5px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.logo-part {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 151, 223);
  margin: 150px;
  box-shadow: 1px 1px 22px 0 gray;
}

.recipe-text {
  margin-bottom: 30px;
  color: white;
}

.recipe-input {
  padding: 15px;
  width: 50vh;
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 10px 0 gray;
}

.recipe-input:focus {
  border: none;
  outline: 0;
}

.recipe-button {
  margin-top: 30px;
  padding: 20px;
  width: 300px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  box-shadow: 1px 1px 10px 0 gray;
  background: gray);
}